.product-container {
  display: flex;
  background-color: #efefef;
  flex-wrap: wrap;
}

.product-card {
  background-color: #fff;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  max-width: 240px;
  box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.15);
  position: relative;
}

.product-card > img {
  max-width: 100%;
}

.product-card > .son-urun {
  background-color: rgb(231, 86, 34);
  color: #fff;
  font-weight: bold;
  top: 34px;
  right: 0;
  position: absolute;
  padding: 0.5rem;
  overflow: hidden;
  rotate: 30deg;
}

.product-card > .product-price {
  color: rgb(231, 86, 34);
  font-size: 1.5rem;
  padding: 0.25rem;
}

.filter-input {
  margin-bottom: 1rem;
}
